<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.EmployeesMapper">
    <resultMap id="baseResultMap" type="com.example.entity.Employees">
        <id column="emp_no" property="empNo"  />
        <id column="birth_date" property="birthDate" />
        <id column="first_name" property="firstName"  />
        <id column="last_name" property="lastName" />
        <id column="gender" property="gender" />
        <id column="hire_date" property="hireDate" />
    </resultMap>

    <insert id="insert" parameterType="com.example.entity.Employees" >

        INSERT INTO employees (emp_no,birth_date,first_name,last_name,gender,hire_date)
        VALUES (#{empNo},#{birthDate},#{firstName},#{lastName},#{gender},#{hireDate})

    </insert>

    <update id="updateByPrimaryKey" parameterType="com.example.entity.Employees">
        UPDATE employees SET
        birth_date = #{birthDate},
        first_name = #{firstName},
        last_name = #{lastName},
        gender = #{gender},
        hire_date = #{hireDate}
        WHEN emp_no = #{empNo}
    </update>

    <select id="selectByEmpNo" parameterType="java.lang.Integer" resultMap="baseResultMap">

        SELECT * FROM employees WHERE emp_no = #{empNo}

    </select>

    <delete id="deleteByEmpNo" parameterType="java.lang.Integer" >
        DELETE FROM employees WHERE emp_no = #{empNo}
    </delete>

</mapper>